<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>CloudNet</title>
  </head>
  <body>
    <div class="container">

      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">CloudNet</h1>
          <p class="lead my-3">Классифицирует облака по фотографии</p>
          <!-- <p class="lead mb-0"><a href="#" class="text-white fw-bold">Подробнее</a></p> -->
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          {% if is_error %}
            <div class="alert alert-danger" role="alert">
              {{ error.msg }}
            </div>
          {% elif answer %}
            <div class="alert alert-dark" role="alert">
              Class: <strong>{{ answer.class_name }} [{{ answer.class_index }}]</strong>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="img" class="form-label">Выберите изображение</label>
              <input class="form-control" type="file" id="img" name="img">
            </div>

            Если хотите помочь в улучшении качества нейронной сети, то разрешите использовать изображения.
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="check-is-aggree" name="check-is-aggree">
              <label class="form-check-label" for="check-is-aggree">
                Вы подтверждаете:
                  Это ваша собственная работа.
                  Изображение будет лицензировано под лиценцией 
                  <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">CC0</a> (Отказываетесь от всех прав на изображение).
              </label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
